body {
  background-color: #f8f9fa;
}

.profilepic {
  height: 200px;
  width: 200px;
  margin: 2rem 0 1rem 25%;
  border-radius: 50%;
}

.ml-auto {
  margin-left: auto;
}

.home-page {
  height: calc(100vh - 62px);
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-div p {
  color: #189cf0;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 900;
  letter-spacing: 5px;
}

.profile .col-md-6 p {
  color: #189cf0;
  font-weight: 600;
}

.profile .col-md-6 label {
  font-weight: 600;
}

.links p {
  font-weight: 600;
  font-size: 1.1rem;
}

.home-div h1 {
  text-align: center;
  font-weight: 700;
}

.center {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#notfound {
  position: relative;
  height: 80vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: sans-serif;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 50%);
}

#notfound h2 {
  font-family: sans-serif;
  font-size: 46px;
  color: #000;
  text-transform: uppercase;
  margin: 0px;
}

.notfound p {
  font-family: serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

.notfound a {
  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #189cf0;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #189cf0;
  color: #189cf0;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 162px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}
